RewriteEngine On

# Redirect akses langsung ke image/nyx.png ke 404.html
RewriteCond %{THE_REQUEST} /image/nyx.png [NC]
RewriteRule ^.*$ /404.html [R=302,L]

# Mengalihkan semua halaman yang tidak ditemukan ke 404.html
ErrorDocument 404 /404.html

